#  Categorize each of the variables in the ESS dataset as categorical or continuous, and if continuous as ordinal, interval, or ratio variables.
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv")

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [10]:
for col in df:
    print(df.groupby(col)[col].count())

cntry
CH    1546
CZ    1316
DE      28
ES    2426
NO    1462
SE    1816
Name: cntry, dtype: int64
idno
1.0           2
3.0           2
5.0           4
6.0           2
7.0           2
8.0           2
10.0          2
13.0          2
15.0          2
18.0          2
19.0          2
22.0          4
23.0          2
25.0          4
26.0          2
27.0          2
28.0          4
29.0          2
30.0          2
33.0          2
34.0          2
36.0          4
38.0          2
39.0          4
40.0          2
41.0          4
44.0          2
45.0          2
46.0          2
47.0          2
             ..
21930.0       2
21978.0       2
21984.0       2
22038.0       2
22068.0       2
22074.0       2
22158.0       2
22170.0       2
22176.0       2
22224.0       2
22260.0       2
22266.0       2
22290.0       2
22362.0       2
22386.0       2
22428.0       2
11000031.0    2
11000041.0    2
11000071.0    2
11000091.0    2
11000131.0    2
11000181.0    2
11000251.0    2
11000291.0    2
11000341.0    2
11000421.0    2
11000971.0    2
11001031.0    2
11001401.0    2
11001431.0    2
Name: idno, Length: 3086, dtype: int64
year
6    4297
7    4297
Name: year, dtype: int64
tvtot
0.0     372
1.0     691
2.0    1435
3.0    1393
4.0    1404
5.0    1215
6.0     804
7.0    1272
Name: tvtot, dtype: int64
ppltrst
0.0      271
1.0      170
2.0      440
3.0      715
4.0      767
5.0     1697
6.0     1098
7.0     1639
8.0     1299
9.0      337
10.0     147
Name: ppltrst, dtype: int64
pplfair
0.0      162
1.0      112
2.0      303
3.0      576
4.0      617
5.0     1611
6.0     1036
7.0     1822
8.0     1629
9.0      467
10.0     220
Name: pplfair, dtype: int64
pplhlp
0.0      221
1.0      189
2.0      485
3.0      939
4.0      915
5.0     1766
6.0     1223
7.0     1428
8.0      976
9.0      292
10.0     135
Name: pplhlp, dtype: int64
happy
0.0       29
1.0       22
2.0       57
3.0      125
4.0      174
5.0      607
6.0      612
7.0     1524
8.0     2543
9.0     1737
10.0    1133
Name: happy, dtype: int64
sclmeet
1.0     100
2.0     398
3.0     603
4.0    1601
5.0    1472
6.0    2757
7.0    1648
Name: sclmeet, dtype: int64
sclact
1.0     800
2.0    2195
3.0    4068
4.0    1213
5.0     224
Name: sclact, dtype: int64
gndr
1.0    4316
2.0    4268
Name: gndr, dtype: int64
agea
15.0      23
16.0     122
17.0     143
18.0     140
19.0     128
20.0     114
21.0     110
22.0     132
23.0     135
24.0     116
25.0     114
26.0      99
27.0     106
28.0      88
29.0     102
30.0      98
31.0     122
32.0     124
33.0     136
34.0     144
35.0     148
36.0     135
37.0     140
38.0     128
39.0     157
40.0     154
41.0     153
42.0     165
43.0     144
44.0     142
        ...
69.0     150
70.0     129
71.0     109
72.0      88
73.0      98
74.0      92
75.0      87
76.0      72
78.0      65
79.0      53
80.0      60
81.0      44
82.0      44
83.0      34
84.0      35
85.0      31
86.0      24
87.0      18
89.0      16
90.0      15
91.0       7
92.0       6
93.0       5
94.0       3
95.0       2
96.0       1
97.0       1
101.0      1
103.0      1
114.0      1
Name: agea, Length: 83, dtype: int64
partner
1.0    5276
2.0    3301
Name: partner, dtype: int64

* cntry - categorical
* idno - categorical
* year - continuous
* tvtot - continuous
* ppltrst - continuous
* pplfair - continuous
* pplhlp - continuous
* happy - continuous
* sclmeet - categorical
* sclact - categorical
* gender - categorical
* agea - continuous
* partner - categorical