# Challenge

Now that you have two new regression methods at your fingertips, it's time to give them a spin. In fact, for this challenge, let's put them together! Pick a dataset of your choice with a binary outcome and the potential for at least 15 features. If you're drawing a blank, the crime rates in 2013 dataset has a lot of variables that could be made into a modelable binary outcome.

Engineer your features, then create three models. Each model will be run on a training set and a test-set (or multiple test-sets, if you take a folds approach). The models should be:
1. Vanilla logistic regression
2. Ridge logistic regression
3. Lasso logistic regression

In your report, evaluate all three models and decide on your best. Be clear about the decisions you made that led to these models **(feature selection, regularization parameter selection, model evaluation criteria)** and why you think that particular model is the best of the three. Also reflect on the strengths and limitations of regression as a modeling approach. Were there things you couldn't do but you wish you could have done?

----

In [94]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from sklearn import linear_model
from sklearn.model_selection import cross_val_score

In [96]:
df = pd.read_excel('4 Dataset.xlsx')
df = df.drop(['Rape (revised definition)', 'Rape (legacy definition)', 'City'], axis=1)
df = df.dropna()
df = df.rename(columns={'Murder and nonnegligent manslaughter':'Murder'})

for col in df[1:]:
    col = pd.to_numeric(col, errors='coerce')


df['Murder'] = df['Murder'].apply(lambda x: x > 0)
df.head()

,Population,Violent crime,Murder,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,37378,40.0,True,5,26.0,640,97,527,16,5
1,878,0.0,False,0,0.0,5,0,5,0,0
2,1187,0.0,False,0,0.0,0,0,0,0,0
3,1975,0.0,False,0,0.0,33,8,22,3,1
4,29980,18.0,False,2,13.0,519,33,475,11,6

In [115]:
Y = df['Murder']
X = df.drop('Murder', axis=1)

def get_accuracy(classifier):
    classifier.fit(X, Y)
    accuracy = cross_val_score(classifier, X, Y, cv=10).mean()
    return accuracy

In [116]:
vanilla_regr = linear_model.LogisticRegression()
ridge_regr = linear_model.Ridge()
lasso_regr = linear_model.Lasso()

print(get_accuracy(vanilla_regr))
print(get_accuracy(ridge_regr))
print(get_accuracy(lasso_regr))

0.869273309324
0.149717390861
0.151344990335