# Airline Arrivals

Use this [dataset of airline arrival information](http://stat-computing.org/dataexpo/2009/the-data.html) to predict how late flights will be.  A flight only counts as late if it is more than 30 mins late.

---

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from datetime import datetime

%matplotlib inline

In [3]:
file = 'C:/Users/Carter Carlson/Documents/Thinkful/Large Databases/2000.csv'
df = pd.read_csv(file)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2000,1,28,5,1647.0,1647,1906.0,1859,HP,154,...,15,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2000,1,29,6,1648.0,1647,1939.0,1859,HP,154,...,5,47,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2000,1,30,7,NaN,1647,NaN,1859,HP,154,...,0,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2000,1,31,1,1645.0,1647,1852.0,1859,HP,154,...,7,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2000,1,1,6,842.0,846,1057.0,1101,HP,609,...,3,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dropna(subset=['ArrTime', 'CRSArrTime'], inplace=True)
df['ArrTime'] = df['ArrTime'].astype(int)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2000,1,28,5,1647.0,1647,1906,1859,HP,154,...,15,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2000,1,29,6,1648.0,1647,1939,1859,HP,154,...,5,47,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2000,1,31,1,1645.0,1647,1852,1859,HP,154,...,7,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2000,1,1,6,842.0,846,1057,1101,HP,609,...,3,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5,2000,1,2,7,849.0,846,1148,1101,HP,609,...,8,24,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df['ArrTime'] = pd.to_datetime(df['ArrTime'], format='%H%M')
df['CRSArrTime'] = pd.to_datetime(df['CRSArrTime'], format='%H%M')

ValueError: time data 7 does not match format '%H%M' (match)

In [10]:
test = []
[test[x] = pd.to_datetime(df['ArrTime'][x], format='%H%M') for x in df['ArrTime']]

IndexError: list index out of range

**Note: I want to:**
1. Convert ArrTime and CRSArrTime from Float to Int, then to Str
2. Convert ArrTime and CRSArrTime to datetime
3. create column 'Late' that is True/False if the difference of ArrTime and CRSArrTime > 30

In [17]:

pd.to_datetime(df['ArrTime'][1], format='%H%M')

Timestamp('1900-01-01 19:39:00')

In [23]:
df['ArrTime'][7]

1912

In [19]:
x = [pd.to_datetime(x, format='%H%M') for x in df['ArrTime']]

ValueError: time data 7 does not match format '%H%M' (match)

In [116]:
FMT = '%H%M'
test = datetime.strftime(df['ArrTime'], FMT) - datetime.strftime(df['CRSArrTime'], FMT)

TypeError: descriptor 'strftime' requires a 'datetime.date' object but received a 'Series'