# DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
y2015 = pd.read_csv(
    'C:/Users/Carter Carlson/Documents/Thinkful/Large Databases/Loan Data.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]

# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

In [4]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_May-2018,settlement_date_Nov-2015,settlement_date_Nov-2016,settlement_date_Nov-2017,settlement_date_Oct-2015,settlement_date_Oct-2016,settlement_date_Oct-2017,settlement_date_Sep-2015,settlement_date_Sep-2016,settlement_date_Sep-2017
0,NaN,NaN,20000.0,20000.0,20000.0,9.80,643.47,75000.0,23.45,0.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,15000.0,15000.0,15000.0,13.44,344.69,77213.0,18.17,0.0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,7200.0,7200.0,7200.0,11.48,237.36,72500.0,8.47,0.0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,15000.0,15000.0,15000.0,8.49,473.45,110000.0,13.24,0.0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,16000.0,16000.0,16000.0,8.49,328.19,62000.0,28.92,0.0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,6000.0,6000.0,6000.0,7.49,186.61,100000.0,13.28,1.0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,20000.0,20000.0,20000.0,15.77,700.88,70000.0,22.21,0.0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,15000.0,15000.0,15000.0,5.32,451.73,80000.0,20.18,0.0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,14000.0,14000.0,14000.0,9.80,450.43,100000.0,15.97,0.0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,3600.0,3600.0,3600.0,11.48,118.68,85000.0,17.44,0.0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,16000.0,16000.0,16000.0,13.44,367.67,42000.0,9.60,0.0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,27500.0,27500.0,27500.0,14.85,652.06,195000.0,6.79,0.0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,12000.0,12000.0,12000.0,5.32,361.38,53750.0,15.30,1.0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,7000.0,7000.0,7000.0,7.49,217.72,59000.0,13.06,1.0,...,0,0,0,0,0,0,0,0,0,0
16,NaN,NaN,5000.0,5000.0,5000.0,7.91,156.48,32000.0,13.73,0.0,...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,9000.0,9000.0,9000.0,9.17,286.92,50000.0,11.98,0.0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,15000.0,15000.0,15000.0,10.78,489.52,40000.0,10.17,0.0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,10000.0,10000.0,10000.0,10.78,326.35,41600.0,15.78,0.0,...,0,0,0,0,0,0,0,0,0,0
20,NaN,NaN,25000.0,25000.0,25000.0,11.48,549.57,135000.0,4.65,0.0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,10000.0,10000.0,10000.0,16.59,246.33,30000.0,30.84,0.0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,10000.0,10000.0,10000.0,7.91,312.95,40100.0,10.81,0.0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,NaN,17925.0,17925.0,17925.0,17.27,448.09,39000.0,27.78,0.0,...,0,0,0,0,0,0,0,0,0,0
24,NaN,NaN,35000.0,35000.0,35000.0,11.99,778.38,128000.0,6.46,0.0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,NaN,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,NaN,15850.0,15850.0,15850.0,23.13,448.01,45000.0,34.85,0.0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,NaN,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,0,0,0,0,0
28,NaN,NaN,15000.0,15000.0,15000.0,9.80,482.61,92000.0,13.89,0.0,...,0,0,0,0,0,0,0,0,0,0
29,NaN,NaN,28000.0,28000.0,28000.0,14.85,663.92,85000.0,28.52,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,NaN,NaN,20000.0,20000.0,20000.0,6.99,617.46,72000.0,27.24,0.0,...,0,0,0,0,0,0,0,0,0,0
421066,NaN,NaN,15000.0,15000.0,15000.0,11.99,498.15,70000.0,8.47,0.0,...,0,0,0,0,0,0,0,0,0,0
421067,NaN,NaN,13000.0,13000.0,13000.0,8.19,408.52,85000.0,8.05,1.0,...,0,0,0,0,0,0,0,0,0,0
421068,NaN,NaN,4200.0,4200.0,4200.0,15.99,147.64,48000.0,36.93,0.0,...,0,0,0,0,0,0,0,0,0,0
421069,NaN,NaN,26950.0,26950.0,26950.0,8.19,846.88,54000.0,18.11,0.0,...,0,0,0,0,0,0,0,0,0,0
421070,NaN,NaN,23000.0,23000.0,23000.0,15.59,554.32,50000.0,31.95,0.0,...,0,0,0,0,0,0,0,0,0,0
421071,NaN,NaN,15000.0,15000.0,15000.0,11.44,329.44,57000.0,15.77,0.0,...,0,0,0,0,0,0,0,0,0,0
421072,NaN,NaN,6000.0,6000.0,6000.0,17.86,216.50,90000.0,2.84,0.0,...,0,0,0,0,0,0,0,0,0,0
421073,NaN,NaN,18700.0,18700.0,18700.0,17.86,473.44,52000.0,11.28,0.0,...,0,0,0,0,0,0,0,0,0,0
421074,NaN,NaN,25000.0,25000.0,25000.0,15.99,607.82,103000.0,5.27,0.0,...,0,0,0,0,0,0,0,0,0,0
421075,NaN,NaN,26500.0,26500.0,26500.0,8.67,545.87,92000.0,29.60,1.0,...,0,0,0,0,0,0,0,0,0,0
421076,NaN,NaN,25000.0,25000.0,25000.0,15.59,602.52,55000.0,5.52,0.0,...,0,0,0,0,0,0,0,0,0,0
421077,NaN,NaN,8000.0,8000.0,8000.0,8.19,251.40,50000.0,17.62,0.0,...,0,0,0,0,0,0,0,0,0,0
421078,NaN,NaN,21000.0,21000.0,21000.0,6.03,639.15,65000.0,17.09,0.0,...,0,0,0,0,0,0,0,0,0,0
421079,NaN,NaN,13150.0,13150.0,13150.0,14.99,312.77,30000.0,1.00,0.0,...,0,0,0,0,0,0,0,0,0,0
421080,NaN,NaN,12000.0,12000.0,12000.0,9.49,384.34,40000.0,25.65,1.0,...,0,0,0,0,0,0,0,0,0,0
421081,NaN,NaN,6225.0,6225.0,6225.0,16.49,220.37,27000.0,18.58,0.0,...,0,0,0,0,0,0,0,0,0,0
421082,NaN,NaN,10000.0,10000.0,10000.0,6.49,306.45,75000.0,33.66,0.0,...,0,0,0,0,0,0,0,0,0,0
421083,NaN,NaN,10775.0,10775.0,10775.0,6.03,327.95,54000.0,13.22,1.0,...,0,0,0,0,0,0,0,0,0,0
421084,NaN,NaN,7000.0,7000.0,7000.0,14.31,240.30,57000.0,16.80,2.0,...,0,0,0,0,0,0,0,0,0,0
421085,NaN,NaN,4000.0,4000.0,4000.0,8.67,126.59,50000.0,12.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421086,NaN,NaN,10850.0,10850.0,10850.0,19.24,399.04,32000.0,29.44,0.0,...,0,0,0,0,0,0,0,0,0,0
421087,NaN,NaN,7500.0,7500.0,7500.0,9.49,240.22,40000.0,25.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421088,NaN,NaN,12000.0,12000.0,12000.0,11.99,398.52,63000.0,23.69,1.0,...,0,0,0,0,0,0,0,0,0,0
421089,NaN,NaN,11575.0,11575.0,11575.0,15.59,404.61,25400.0,27.08,0.0,...,0,0,0,0,0,0,0,0,0,0
421090,NaN,NaN,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421091,NaN,NaN,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,0,0,0,0,0
421092,NaN,NaN,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,0,0,0,0,0,0,0,0
421093,NaN,NaN,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421094,NaN,NaN,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 9 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

array([0.98976539, 0.9896704 , 0.98895749, 0.98860128, 0.99042983,
       0.98898098, 0.98442138, 0.9876983 , 0.97330674, 0.9841594 ])